<div>
  <div fxLayout="row" class="post-view" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="40">
      <div fxLayout="row" class="post-info-top">
        <div class="star-post-container" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/img/star-post.png" />
        </div>
        <div class="star-post-text">Offering</div>
        <div fxLayout="column" fxLayoutAlign="end start" fxFlex>
          <span class="post-title">Title of Service</span>
          <span class="post-location">Toronto, Otario</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end">
          <div>Page Views: <span class="views-value">500</span></div>
        </div>
      </div>
      <div class="post-background" fxLayout="row"></div>
      <div class="images-container" fxLayout="row" fxLayoutAlign="space-between">
        <div class="image-container" fxFlex="24"></div>
        <div class="image-container" fxFlex="24"></div>
        <div class="image-container" fxFlex="24"></div>
        <div class="image-container" fxFlex="24"></div>
      </div>
      <div fxLayout="row" class="description">
        <p>
          This is where all the awesome details of the service will go. We will give lost of room for the description. If there are absolutely no pictures, video or documents attached in the service details screen then the service description will move up on the this page.................under the Service title...................all the boxes where the attachments are supposed to be will be removed if there are no attachments.
        </p>
      </div>
      <span *ngIf="personPosts.length" class="posts-title">Other Offerings by Tim White:</span>
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutWrap>
        <div *ngFor="let item of personPosts | postsFilter:'need'; let i=index">
          <post-card (click)="onClickItem(item)" [post]="item" [editButton]="true" [viewMyDetailsButton]="true"></post-card>
        </div>
      </div>
      <span *ngIf="personPosts.length != 0" class="posts-title">Other Needs of Tim White:</span>
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutWrap>
        <div *ngFor="let item of personPosts | postsFilter:'offer'; let i=index">
          <post-card (click)="onClickItem(item)" [post]="item" [editButton]="true" [viewMyDetailsButton]="true"></post-card>
        </div>
      </div>
    </div>
    <div class="post-info-container" fxLayout="column" fxFlexOffset="10">
      <div class="post-options">
        <div>
          <button fxFlex md-raised-button color="primary" (click)="onRequestClick()">request service</button>
        </div>
        <div>
          <button fxFlex md-raised-button color="primary" (click)="onShareClick()">share</button>
          <button fxFlex fxFlexOffset="5px" md-raised-button color="primary" (click)="onReportClick()">report</button>
        </div>
      </div>
      <div class="user-info" fxLayout="column">
        <div fxLayout="row">
          <div fxLayout="column" fxLayoutAlign="center center">
            <span>Posted by:</span>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center">
            <img [routerLink]="['/profile']" class="avatar" src="assets/img/temp-users-img/6.jpg">
          </div>
          <div fxLayout="column" fxLayoutAlign="center start">
            <span>Tim White</span>
            <span>Hamilton, Ontario</span>
          </div>
        </div>
        <div>
          Posted on: April 10th, 2016
        </div>
      </div>
      <div class="bussines-styles">
        Bussines styles of interest:
        <div class="bussines-styles-info" fxLayout="row">
          <div class="post-info-left" fxLayout="column">
            <div class="options">
              <md-icon>compare_arrows</md-icon>
              <md-icon>group</md-icon>
              <md-icon>favorite</md-icon>
              <md-icon>school</md-icon>
              <md-icon>local_offer</md-icon>
            </div>
          </div>
          <div class="post-info-right" fxLayout="column" fxLayoutAlign="center end">
            <span class="text">comm</span>
            <span class="number">100</span>
            <span class="text">fixed rate</span>
            <span class="number">$50000</span>
            <span class="text">hourly rate</span>
            <span class="number">$100</span>
          </div>
        </div>
      </div>
      <div class="recomended-list">
        Service Recomended by: (4)
        <div fxLayout="column">
          <md-list>
            <md-list-item fxLayout="row">
              <div fxLayout="column" fxLayoutAlign="center center">
                <img [routerLink]="['/profile']" class="avatar" src="assets/img/temp-users-img/6.jpg">
              </div>
              <div fxLayout="column" fxLayoutAlign="center start">
                <span>Tim White</span>
                <span>Hamilton, Ontario</span>
              </div>
            </md-list-item>
            <md-list-item fxLayout="row">
              <div fxLayout="column" fxLayoutAlign="center center">
                <img [routerLink]="['/profile']" class="avatar" src="assets/img/temp-users-img/6.jpg">
              </div>
              <div fxLayout="column" fxLayoutAlign="center start">
                <span>Tim White</span>
                <span>Hamilton, Ontario</span>
              </div>
            </md-list-item>
            <md-list-item fxLayout="row">
              <div fxLayout="column" fxLayoutAlign="center center">
                <img [routerLink]="['/profile']" class="avatar" src="assets/img/temp-users-img/6.jpg">
              </div>
              <div fxLayout="column" fxLayoutAlign="center start">
                <span>Tim White</span>
                <span>Hamilton, Ontario</span>
              </div>
            </md-list-item>
            <md-list-item fxLayout="row">
              <div fxLayout="column" fxLayoutAlign="center center">
                <img [routerLink]="['/profile']" class="avatar" src="assets/img/temp-users-img/6.jpg">
              </div>
              <div fxLayout="column" fxLayoutAlign="center start">
                <span>Tim White</span>
                <span>Hamilton, Ontario</span>
              </div>
            </md-list-item>
          </md-list>
          
        </div>
        <div>
          <button fxFlex md-raised-button color="primary" (click)="onRequestClick()">recomended this service</button>
        </div>
      </div>
    </div>
  </div>
</div>
