<div fxLayout="column">
  <div fxLayout="row-reverse">
    <button class="close" md-icon-button (click)="onCloseClick()"><md-icon>close</md-icon></button>
  </div>
  <form #f="ngForm" autocomplete="off" novalidate fxLayout="column">
    <md-form-field>
      <input mdInput placeholder="Username" name="username" [(ngModel)]="login.username" required minlength="6" #username="ngModel">
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Password" name="password" [(ngModel)]="login.password" required minlength="6" #password="ngModel" [type]="showPass ? 'text': 'password'" />
    </md-form-field>
    <div fxLayout="column" fxLayoutGap="10px">
      <md-checkbox name="rememberMe">{{'Remember Me'}}</md-checkbox>
      <div class='row'>
        <button md-raised-button color="accent" [class.disabled]="!f.valid" (click)="submit()">
          Sign In
        </button>
      </div>
    </div>
  </form>
</div>
