<div fxLayout="column">
  <div fxLayout="row-reverse">
    <button class="close" md-icon-button (click)="onClose()">
      <md-icon>close</md-icon>
    </button>
  </div>
  <form #f="ngForm" autocomplete="off" novalidate fxLayout="column" class="form-edit-profile">
    <md-tab-group>
      <md-tab label="Basics">
        <div class="demo-tab-content">
          <md-form-field>
            <input mdInput placeholder="First Name" name="firstName" [(ngModel)]="profile.firstName" required #firstName="ngModel"/>
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="Last Name" name="lastName" [(ngModel)]="profile.lastName" required #lastName="ngModel"/>
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="Phone Number" name="phoneNumber" [(ngModel)]="profile.phoneNumber" required #phoneNumber="ngModel"/>
          </md-form-field>
          <md-checkbox name="phoneVisible" [(ngModel)]="profile.phoneVisible">Make Visible</md-checkbox>
          <md-form-field>
            <input mdInput placeholder="Email Address" name="primaryEmail" [(ngModel)]="profile.primaryEmail" required #primaryEmail="ngModel"/>
          </md-form-field>
          <md-checkbox name="emailVisible" [(ngModel)]="profile.emailVisible">Make Visible</md-checkbox>
          <md-form-field>
            <input mdInput placeholder="Country" name="country" [(ngModel)]="profile.country" required #country="ngModel"/>
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="Province" name="province" [(ngModel)]="profile.province" required #province="ngModel"/>
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="City" name="city" [(ngModel)]="profile.city" required #city="ngModel"/>
          </md-form-field>
          <md-form-field>
            <textarea mdInput placeholder="Personal Statement" name="resume" [(ngModel)]="profile.resume" required #resume="ngModel"></textarea>
          </md-form-field>
        </div>
      </md-tab>

      <md-tab label="Professional">
        <md-form-field>
          <input mdInput placeholder="Job Title" name="jobtitle" [(ngModel)]="profile.jobtitle" required #jobtitle="ngModel"/>
        </md-form-field>
        <md-form-field *ngIf="profile.occupation === 0">
          <input mdInput placeholder="Company" name="company" [(ngModel)]="profile.company" required #company="ngModel"/>
        </md-form-field>
        <md-radio-group class="radio-group" name="occupation" [(ngModel)]="profile.occupation">
          <md-radio-button class="radio-button" *ngFor="let occupation of occupations" [value]="occupation.value" (click)="resetCompany()">
            {{occupation.name}}
          </md-radio-button>
        </md-radio-group>

        <div class="container-file">
          <div class="document-view" fxLayout="column" fxFlex="60">
            <img [src]="iconFileResume">
            <!--<span>{{ fileResume.name }}</span>-->
          </div>
          <div fxLayout="column" fxFlex="40">
            <button md-raised-button color="accent" class="btn-file" [class.disabled]="!f.valid" (click)="onUpLoadFile()">
              <input type="file" accept="application/pdf, application/msword" (change)="onUpLoadFile($event)"/>
              Upload Resume
            </button>
          </div>
        </div>

        <div class="container-skill">
          <div *ngFor="let skill of profile.skillset; let i = index">
            <div fxLayout="column" fxFlex="20">
              Skills
            </div>
            <div class="btn-container" fxLayout="column" fxFlex="10">
              -
            </div>
            <div fxLayout="column" fxFlex="70">
              <input mdInput placeholder="" name="skill" [(ngModel)]="profile.skillset[i]" required #skill="ngModel"/>
            </div>
          </div>
        </div>

      </md-tab>

      <md-tab label="Photo/Video">

      </md-tab>
    </md-tab-group>

    <div fxLayout="column" fxLayoutGap="10px">
      <div class='row'>
        <button md-raised-button color="basic" [class.disabled]="!f.valid" (click)="onClose()">
          Cancel
        </button>
        <button md-raised-button color="accent" [class.disabled]="!f.valid" (click)="onSubmit()">
          Update
        </button>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      </div>
      <div *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
  </form>
</div>
