<div fxLayout="column">
  <div fxLayout="row-reverse">
    <button md-icon-button class="close" (click)="onClose()">
      <md-icon>close</md-icon>
    </button>
  </div>
  <form #f="ngForm" autocomplete="off" novalidate fxLayout="column" class="form-edit-profile">
    <md-tab-group>
      <md-tab label="Basics">
        <div class="tab-content">
          <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50" fxLayout="column">
              <md-form-field>
                <input mdInput placeholder="First Name" name="firstName" [(ngModel)]="profile.firstName" required #firstName="ngModel" />
              </md-form-field>
              <md-form-field>
                <input mdInput placeholder="Last Name" name="lastName" [(ngModel)]="profile.lastName" required #lastName="ngModel" />
              </md-form-field>
              <md-form-field>
                <input mdInput placeholder="Phone Number" name="phoneNumber" [(ngModel)]="profile.phoneNumber" required #phoneNumber="ngModel" />
              </md-form-field>
              <md-checkbox name="phoneVisible" [(ngModel)]="profile.phoneVisible">Make Visible</md-checkbox>
              <md-form-field>
                <input mdInput placeholder="Email Address" name="primaryEmail" [(ngModel)]="profile.primaryEmail" required #primaryEmail="ngModel" />
              </md-form-field>
              <md-checkbox name="emailVisible" [(ngModel)]="profile.emailVisible">Make Visible</md-checkbox>
            </div>
            <div fxFlex="50" fxLayout="column" fxFlexOffset="10px" fxFlexOffset.xs="0">
              <md-form-field>
                <input mdInput placeholder="Country" name="country" [(ngModel)]="profile.country" required #country="ngModel" />
              </md-form-field>
              <md-form-field>
                <input mdInput placeholder="Province" name="province" [(ngModel)]="profile.province" required #province="ngModel" />
              </md-form-field>
              <md-form-field>
                <input mdInput placeholder="City" name="city" [(ngModel)]="profile.city" required #city="ngModel" />
              </md-form-field>
            </div>
          </div>
          <md-form-field>
            <textarea mdInput placeholder="Personal Statement" name="resume" [(ngModel)]="profile.resume" required #resume="ngModel"></textarea>
          </md-form-field>
        </div>
      </md-tab>

      <md-tab label="Professional">
        <div class="tab-content">
          <md-form-field>
            <input mdInput placeholder="Job Title" name="jobtitle" [(ngModel)]="profile.jobtitle" required #jobtitle="ngModel" />
          </md-form-field>
          <div fxLayout="row" fxLayout.xs="column">
            <div fxLayout="column" fxFlex="50">
              <md-form-field *ngIf="profile.occupation === 2">
                <input mdInput placeholder="Company" name="company" [(ngModel)]="profile.company" required #company="ngModel" />
              </md-form-field>
              <md-radio-group class="radio-group" name="occupation" [(ngModel)]="profile.occupation">
                <md-radio-button class="radio-button" *ngFor="let occupation of occupations" [value]="occupation.value" (click)="resetCompany()">
                  {{occupation.name}}
                </md-radio-button>
              </md-radio-group>
            </div>
            <div fxLayout="column" fxFlex="50" fxFlexOffset="10px" fxFlexOffset.xs="0">
              <div class="container-file" fxLayout="row">
                <div class="document-view" fxLayout="column" fxLayoutAlign="center center">
                  <img class="file" [src]="iconFileResume">
                  <span>Test file 1</span>
                  <span>{{ fileResume }}</span>
                </div>
                <a md-raised-button color="accent" class="btn-file" [class.disabled]="!f.valid" (click)="onUpLoadFile()">
                  <input type="file" accept="application/pdf, application/msword" (change)="onUpLoadFile($event)" />
                  Upload Resume
                </a>
              </div>
            </div>
          </div>

          <div class="container-skill">
            Skills
            <button md-icon-button color="primary" (click)="addSkill()">
              <md-icon>add_circle</md-icon>
            </button>
            <div *ngFor="let skill of profile.skillset; let i = index">
              <button md-icon-button color="primary" (click)="deleteSkill(i)">
                <md-icon>remove_circle</md-icon>
              </button>
              <!--TODO when add two or more input and change value, in one this value replicate to other empty, but only in view, data profile.skillset is right-->
              <input placeholder="" [name]="skill + i" [value]="skill" (blur)="onchangeSkill($event, i)" required />
            </div>
          </div>
        </div>
      </md-tab>

      <md-tab label="Photo/Video">
        <div class="tab-content">

          <div class="container-file" fxLayout="row">
            <div class="document-view" fxLayout="column">
              <img class="image" [src]="profile.profile_pic">
            </div>
            <div fxLayout="column">
              <a md-raised-button color="accent" class="btn-file" [class.disabled]="!f.valid" (click)="onUpLoadFile()">
                <input type="file" accept="image/gif, image/jpeg, image/png" (change)="onUpLoadProfilePic($event)" />
                add photo
              </a>
            </div>
          </div>

          <div class="container-file" fxLayout="row">
            <div class="document-view" fxLayout="column">
              <img class="image" [src]="profile.video">
            </div>
            <div fxLayout="column">
              <a md-raised-button color="accent" class="btn-file" [class.disabled]="!f.valid" (click)="onUpLoadFile()">
                <input type="file" accept="video/*" (change)="onUpLoadProfileVideo($event)" />
                add video
              </a>
            </div>
          </div>

          <div class="container-file" fxLayout="row">
            <div class="document-view" fxLayout="column">
              <img [src]="profile.background_pic">
            </div>
            <div fxLayout="column">
              <a md-raised-button color="accent" class="btn-file" [class.disabled]="!f.valid" (click)="onUpLoadFile()">
                <input type="file" accept="image/gif, image/jpeg, image/png" (change)="onUpLoadProfileBackgroundPic($event)" />
                backfround image
              </a>
            </div>
          </div>
        </div>
      </md-tab>
    </md-tab-group>


    <div class="options" fxLayout="row-reverse">
      <button md-raised-button color="basic" [class.disabled]="!f.valid" (click)="onClose()">
        Cancel
      </button>
      <button md-raised-button color="accent" [class.disabled]="!f.valid" (click)="onSubmit()">
        Update
      </button>
      <img *ngIf="loading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>

  </form>
</div>
