<footer>
  <div fxLayout="column">
    <div *ngIf="!(isLoggedIn | async)" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row">
        <h2>Get started today, it's free!</h2>
      </div>
      <div class="options">
        <button mat-raised-button color="accent" (click)="onSignUp()">JOIN US</button> 
        <account-signin></account-signin>
      </div>
    </div>
    <div class="info" fxLayout="row" fxLayoutAlign="space-around" fxLayoutWrap>
      <div class="social" fxLayout="column" fxLayoutAlign="center center">
        <b>Connect with us</b>
        <div fxLayout="row">
          <button mat-icon-button><mat-icon color="accent" svgIcon="facebook"></mat-icon></button>
          <button mat-icon-button><mat-icon color="accent" svgIcon="twitter"></mat-icon></button>
        </div>
      </div>
      <div class="email" fxLayout="column" fxLayoutAlign="top center">
        <b>Email</b>
        <span>info@grabop.com</span>
      </div>
      <div class="location" fxLayout="column" fxLayoutAlign="top center">
        <b>Location</b>
        <div fxLayout="row">
          <span>made with</span><mat-icon color="warn" svgIcon="heart"></mat-icon><span>in Toronto Canada</span>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="top center">
        <b>GrabOp mobile coming soon</b>
        <img class="responsive-img download-android-img">
      </div>
    </div>
    <mat-divider color="primary"></mat-divider>
    <div class="about" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
      <div>Copyright © <b>GrabOp</b>. All rights reserved. </div> <div><a routerLink='/about-us'>About Us</a> | <a routerLink='/terms-of-use'>TERMS OF USE</a></div>
    </div>
  </div>
</footer>
