<div fxLayout="column">

    <div fxLayout="row-reverse">
        <button class="close" md-icon-button (click)="onClose()"><md-icon>close</md-icon></button>
    </div>

    <h3>Sign Up</h3>

    <div *ngIf="errorMessage">{{ errorMessage }}</div>

    <form #f="ngForm" autocomplete="off" [formGroup]="formGroup">

        <md-horizontal-stepper formArrayName="formArray" linear>

            <md-step formGroupName="0" [stepControl]="formArray?.get([0])">
                <md-form-field>
                    <input mdInput placeholder="First Name" name="firstName" formControlName="firstName" />
                </md-form-field>

                <md-form-field>
                    <input mdInput placeholder="Last Name" name="lastName" formControlName="lastName" />
                </md-form-field>

                <div>
                    <md-form-field>
                        <input mdInput placeholder="User Name" name="username" formControlName="username" (change)="checkUsername($event.value)"
                        />
                    </md-form-field>
                    <img *ngIf="checkingUsername" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                    <div *ngIf="usernameMessage">{{usernameMessage}}</div>
                </div>

                <div>
                    <md-form-field>
                        <input mdInput placeholder="Email" name="email" type="email" formControlName="primaryEmail" (change)="checkEmail($event.value)"
                        />
                    </md-form-field>
                    <img *ngIf="checkingEmail" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                    <div *ngIf="emailMessage">{{emailMessage}}</div>
                    <!--div *ngIf="restoreUsername"><a [routerLink]="['/restore-username']">Restore Username</a> </div-->
                </div>

                <div>
                    <md-form-field>
                        <input mdInput type="password" placeholder="Password" name="password" formControlName="password" />
                    </md-form-field>
                    <md-form-field>
                        <input mdInput type="password" placeholder="Confirm Password" name="confirm" formControlName="confirmPassword" />
                    </md-form-field>
                    <!--div [hidden]="confirmPassword.valid || confirmPassword.pristine">
                        Password mismatch
                    </div-->
                </div>

                <div>
                    <button type="button" md-raised-button color="primary" mdStepperNext>Next</button>
                </div>
            </md-step>

            <md-step formGroupName="1" [stepControl]="formArray?.get([1])">
                <md-form-field>
                    <input mdInput placeholder="Job Title" name="jobtitle" formControlName="jobTitle" />
                </md-form-field>

                <md-radio-group name="occupation" formControlName="occupation">

                    <md-radio-button value="1">
                        Company
                    </md-radio-button>
                    <md-form-field *ngIf="user.occupation == 1">
                        <input mdInput placeholder="Company" name="company" formControlName="company" />
                    </md-form-field>

                    <md-radio-button value="2">
                        Self Employed
                    </md-radio-button>

                    <md-radio-button value="3">
                        Seeking an Opportunity
                    </md-radio-button>

                    <md-radio-button value="4">
                        Other
                    </md-radio-button>

                </md-radio-group>

                <div>
                    <button md-button type="button" mdStepperPrevious>Back</button>
                    <button md-raised-button color="primary" type="button" mdStepperNext>Next</button>
                </div>
            </md-step>

            <md-step formGroupName="2" [stepControl]="formArray?.get([2])">
                <md-form-field>
                    <input mdInput placeholder="Phone Number" name="phone" type="tel" formControlName="phoneNumber" />
                </md-form-field>

                <md-checkbox formControlName="phoneVisible">Make Visible</md-checkbox>

                <md-form-field>
                    <input mdInput placeholder="Country" name="country" formControlName="country" />
                </md-form-field>

                <md-form-field>
                    <input mdInput placeholder="Province" name="province" formControlName="province" />
                </md-form-field>

                <md-form-field>
                    <input mdInput placeholder="City" name="city" formControlName="city" />
                </md-form-field>

                <div>
                    <button md-button type="button" mdStepperPrevious>Back</button>
                    <button md-raised-button color="primary" type="button" mdStepperNext>Next</button>
                </div>
            </md-step>

            <md-step>
                <ng-template mdStepLabel>GO</ng-template>
                You are now done.
                <div>
                    <button md-button type="button" mdStepperPrevious>Back</button>
                    <button md-raised-button color="primary" type="submit" mdStepperPrevious>Sign Up</button>
                    <img *ngIf="submitting" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                </div>
            </md-step>
        </md-horizontal-stepper>
    </form>
</div>