<div fxLayout="column">
    <div fxLayout="row-reverse">
        <button class="close" md-icon-button (click)="onClose()"><md-icon>close</md-icon></button>
    </div>
    <h3>Sign Up</h3>
    <!--div *ngIf="errorMessage">{{ errorMessage }}</div-->
    <form #f="ngForm" autocomplete="off">
        <md-horizontal-stepper>
            <md-step>
                <md-form-field>
                    <input mdInput [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" required minlength="2" />
                </md-form-field>

                <md-form-field>
                    <input mdInput [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName" required minlength="2" />
                </md-form-field>

                <md-form-field>
                    <input mdInput [(ngModel)]="user.username" placeholder="User Name" name="username" required minlength="2" />
                    <div *ngIf="usernameMsg">{{usernameMsg}}</div>
                </md-form-field>

                <md-form-field>
                    <input mdInput [(ngModel)]="user.primaryEmail" placeholder="Email" name="email" type="email" appCheckEmail required minlength="6"
                        maxlength="100" />
                    <div *ngIf="emailMsg">{{emailMsg}}</div>
                    <div *ngIf="restoreUsername"><a [routerLink]="['/restore-username']">Restore Username</a> </div>
                </md-form-field>

                <md-form-field>
                    <input mdInput type="password" [(ngModel)]="user.password" placeholder="Password" name="password" required minlength="6" #password="ngModel"
                    />
                </md-form-field>
                <md-form-field>
                    <input mdInput type="password" [(ngModel)]="user.confirmPassword" appEqualValidate="password" placeholder="Confirm Password" name="confirm" required minlength="6" #confirmPassword="ngModel"
                    />
                    <div [hidden]="confirmPassword.valid || confirmPassword.pristine">
                        Password mismatch
                    </div>
                </md-form-field>

                <div>
                    <button type="button" md-raised-button color="primary" mdStepperNext>Next</button>
                </div>
            </md-step>

            <md-step>
                <md-form-field>
                    <input mdInput [(ngModel)]="user.jobTitle" placeholder="Job Title" name="jobtitle" required/>
                </md-form-field>

                <md-radio-group [(ngModel)]="user.occupation" (change)="onCompanyChecked($event)" required name="occupation">

                    <md-radio-button checked=true value="company">
                        Company
                    </md-radio-button>
                    <md-form-field>
                        <input mdInput [(ngModel)]="user.companyName" placeholder="Company" name="companyName" required/>
                    </md-form-field>

                    <md-radio-button value="self">
                        Self Employed
                    </md-radio-button>

                    <md-radio-button value="seeking">
                        Seeking an Opportunity
                    </md-radio-button>

                    <md-radio-button value="custom">
                        Other
                    </md-radio-button>
                    <md-form-field>
                        <input mdInput [(ngModel)]="user.customOccupation" placeholder="Your occupation" name="customOccupation" required/>
                    </md-form-field>

                </md-radio-group>

                <div>
                    <button md-button type="button" mdStepperPrevious>Back</button>
                    <button md-raised-button color="primary" type="button" mdStepperNext>Next</button>
                </div>
            </md-step>

            <md-step>
                <md-form-field>
                    <input mdInput [(ngModel)]="user.phoneNumber" placeholder="Phone Number" name="phone" required type="tel" />
                </md-form-field>

                <md-checkbox>Make Visible</md-checkbox>

                <md-form-field>
                    <input mdInput [(ngModel)]="user.country" placeholder="Country" name="country" required />
                </md-form-field>

                <md-form-field>
                    <input mdInput [(ngModel)]="user.province" placeholder="Province" name="province" required />
                </md-form-field>

                <md-form-field>
                    <input mdInput [(ngModel)]="user.city" placeholder="City" name="city" required />
                </md-form-field>

                <div>
                    <button md-button type="button" mdStepperPrevious>Back</button>
                    <button md-raised-button color="primary" type="button" mdStepperNext>Next</button>
                </div>
            </md-step>

            <md-step label="GO">
                You are now done.
                <div>
                    <button md-button type="button" mdStepperPrevious>Back</button>
                </div>
            </md-step>
        </md-horizontal-stepper>
    </form>
</div>
