<mat-grid-list cols="3" rowHeight="70px">
  <mat-grid-tile colspan="3">
    <h2>Negotiation for Service Title</h2>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="20px">
  <mat-grid-tile colspan="2" rowspan="3"></mat-grid-tile>
  <!--<mat-grid-tile colspan="1" rowspan="1">-->
  <mat-grid-tile>
    <h5>Last modified: Jan 05, 2016</h5>
  </mat-grid-tile>
  <!--<mat-grid-tile colspan="1" rowspan="1">-->
  <mat-grid-tile>
    <h4>Status: Pending</h4>
  </mat-grid-tile>
  <mat-grid-tile>
    <h4>Opp #: 123456789</h4>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="20px">
  <mat-grid-tile>Service OFFERED by:</mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
  <mat-grid-tile>Service REQUESTED by:</mat-grid-tile>
  <mat-grid-tile>
    <!--<img width='30'-->
    <!--src='http://res.cloudinary.com/al3kosvh/image/upload/v1468698749/r_max/publicimages/zcccxyporoknp3vsebhl.jpg'/>-->
    <!--<img width='30'
         src={{myUser.profile_pic}}/>
    <p> {{myUser.display_name}}</p>-->
  </mat-grid-tile>
  <mat-grid-tile>Jeff Smith</mat-grid-tile>
</mat-grid-list>
<!--<mat-grid-list cols="3" rowHeight="20px">-->
<!--</mat-grid-list>-->

<mat-grid-list cols="3" rowHeight="5:4">
  <mat-grid-tile>
    <post-card  [post]="myPost"></post-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>It's a Match</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <post-card  [post]="personPost"></post-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="5:4">
  <mat-grid-tile colspan="3">
    <h2>Comments (chat)</h2>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="5:4">
  <mat-grid-tile>
    <mat-list>
      <h5 mat-subheader class='nudge'>
        Projects
      </h5>
      <mat-list-item><a href="#">Project Title</a></mat-list-item>
      <mat-list-item><a href="#">Project Title</a></mat-list-item>
      <mat-list-item><a href="#">Project Title</a></mat-list-item>
      <mat-list-item><a href="#">Project Title</a></mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <!--<mat-grid-tile colspan="1" rowspan="3"></mat-grid-tile>-->
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
    <mat-list-item>
      <button mat-raised-button
              color="primary"
              (click)="submitAllChanges()">submit all changes</button></mat-list-item>
    <mat-list-item>
      <button mat-raised-button
              color="primary"
              (click)="signAgreement()">sign agreement</button></mat-list-item>
    <mat-list-item>
      <button mat-raised-button
              color="primary"
              (click)="endNegotiation()">end negotiation</button></mat-list-item>
  </mat-list></mat-grid-tile>
</mat-grid-list>

<h4>Payment History</h4>
