<md-grid-list cols="3" rowHeight="70px">
  <md-grid-tile colspan="3">
    <h2>Negotiation for Service Title</h2>
  </md-grid-tile>
</md-grid-list>

<md-grid-list cols="3" rowHeight="20px">
  <md-grid-tile colspan="2" rowspan="3"></md-grid-tile>
  <!--<md-grid-tile colspan="1" rowspan="1">-->
  <md-grid-tile>
    <h5>Last modified: Jan 05, 2016</h5>
  </md-grid-tile>
  <!--<md-grid-tile colspan="1" rowspan="1">-->
  <md-grid-tile>
    <h4>Status: Pending</h4>
  </md-grid-tile>
  <md-grid-tile>
    <h4>Opp #: 123456789</h4>
  </md-grid-tile>
</md-grid-list>

<md-grid-list cols="3" rowHeight="20px">
  <md-grid-tile>Service OFFERED by:</md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2"></md-grid-tile>
  <md-grid-tile>Service REQUESTED by:</md-grid-tile>
  <md-grid-tile>
    <!--<img width='30'-->
    <!--src='http://res.cloudinary.com/al3kosvh/image/upload/v1468698749/r_max/publicimages/zcccxyporoknp3vsebhl.jpg'/>-->
    <img width='30'
         src={{myUser.profile_pic}}/>
    <p> {{myUser.display_name}}</p>
  </md-grid-tile>
  <md-grid-tile>Jeff Smith</md-grid-tile>
</md-grid-list>
<!--<md-grid-list cols="3" rowHeight="20px">-->
<!--</md-grid-list>-->

<md-grid-list cols="3" rowHeight="5:4">
  <md-grid-tile>
    <post-card  [post]="myPost"></post-card>
  </md-grid-tile>
  <md-grid-tile>
    <h2>It's a Match</h2>
  </md-grid-tile>
  <md-grid-tile>
    <post-card  [post]="personPost"></post-card>
  </md-grid-tile>
</md-grid-list>

<md-grid-list cols="3" rowHeight="5:4">
  <md-grid-tile colspan="3">
    <h2>Comments (chat)</h2>
  </md-grid-tile>
</md-grid-list>

<md-grid-list cols="3" rowHeight="5:4">
  <md-grid-tile>
    <md-list>
      <h5 md-subheader class='nudge'>
        Projects
      </h5>
      <md-list-item><a href="#">Project Title</a></md-list-item>
      <md-list-item><a href="#">Project Title</a></md-list-item>
      <md-list-item><a href="#">Project Title</a></md-list-item>
      <md-list-item><a href="#">Project Title</a></md-list-item>
    </md-list>
  </md-grid-tile>
  <!--<md-grid-tile colspan="1" rowspan="3"></md-grid-tile>-->
  <md-grid-tile></md-grid-tile>
  <md-grid-tile>
    <md-list>
    <md-list-item>
      <button md-raised-button
              color="primary"
              (click)="submitAllChanges()">submit all changes</button></md-list-item>
    <md-list-item>
      <button md-raised-button
              color="primary"
              (click)="signAgreement()">sign agreement</button></md-list-item>
    <md-list-item>
      <button md-raised-button
              color="primary"
              (click)="endNegotiation()">end negotiation</button></md-list-item>
  </md-list></md-grid-tile>
</md-grid-list>

<h4>Payment History</h4>
