<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center" class="titles">
    <span class="display-name">{{ user.displayName + "'s"}}</span>
    <span class="active-connection">&thinsp;Active Connections</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="search-container" fxFlex="35" fxFlex.xs="60">
      <form floatPlaceholder="never" fxFlex="35" fxFlex.xs="60">
        <mat-form-field floatPlaceholder="never">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Search" name="search" aria-label="Search..." [matAutocomplete]="auto" [(ngModel)]="search">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let connection of connections | connectionFilter: 1 | connectionSearch: search" [value]="connection.display_name">
              <span>{{ connection.display_name }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
    <app-connect-card-profile
      *ngFor="let connection of connections | connectionFilter: 1 | connectionSearch: search"
      [connection]="connection" [myConnections]="myConnections"></app-connect-card-profile>
  </div>
</div>
