.sidenav-container {
  width: auto;
  height: auto;
}

.sidenav-content {
  padding: 20px;
  width: auto;
  height: auto;
}

div.search-container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px auto;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #778899;
}

div.search-container md-form-field {
  margin-top: -10px;
  margin-bottom: -17px;
  font-size: 16px;
}

div.search-container /deep/ div.mat-input-underline.mat-form-field-underline {
  display: none;
}

md-form-field md-icon {
  position: relative;
  top: 7px;
}

.titles {
  margin-top: 30px;
}

.display-name {
  color: #03a9f4;
  font-size: 18px;
}

.active-connection {
  color: grey;
  font-size: 18px;
}
