<h5>Change Your Password</h5>
<div>
    <div fxLayout="column" fxFlex="40" fxFlex.sm="80" fxFlex.xs="100">
        <form #passwordForm="ngForm" fxLayout="column">
            <mat-form-field>
                <input matInput type="password" name="current" [(ngModel)]="model.oldpassword" placeholder="Current Password" required />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" name="NewPassword" [(ngModel)]="model.newpassword" placeholder="New password" required />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" name="ConfirmNewPassword" [(ngModel)]="model.confirmedpassword" placeholder="Confirm new password" required />
            </mat-form-field>
            <div fxLayout="row-reverse" [ngSwitch]="inProcess">
                <span *ngSwitchCase="true" class="spinner-send-label">Sending data...</span>
                <mat-progress-spinner *ngSwitchCase="true" class="spinner36" mode="indeterminate"></mat-progress-spinner>
                <button *ngSwitchCase="false" mat-raised-button color="accent" [disabled]="!passwordForm.form.valid" (click)="onChangePassword()">CHANGE PASSWORD</button>
            </div>
        </form>
    </div>
</div>
