<div>
    <div fxLayout="row" class="post-view" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="40">
            <div fxLayout="row" class="post-info-top">
                <div class="star-post-container" fxLayout="column" fxLayoutAlign="center center">
                    <img src="assets/img/star-post.png" />
                </div>
                <div class="star-post-text">{{post?.type}}</div>
                <div fxLayout="column" fxLayoutAlign="end start" fxFlex>
                    <span class="post-title">{{post?.title}}</span>
                    <span class="post-location">{{post?.city}}, {{post?.country}}</span>
                </div>
                <div fxLayout="column" fxLayoutAlign="end end">
                    <div>Page Views: <span class="views-value">{{post?.visitCount}}</span></div>
                </div>
            </div>
            <div class="post-background" fxLayout="row"></div>
            <div class="images-container" fxLayout="row" fxLayoutAlign="space-between">
                <div class="image-container" fxFlex="24"></div>
                <div class="image-container" fxFlex="24"></div>
                <div class="image-container" fxFlex="24"></div>
                <div class="image-container" fxFlex="24"></div>
            </div>
            <div fxLayout="row" class="description">
                <p>
                    {{post?.description}}
                </p>
            </div>
            <span *ngIf="personPosts.length" class="posts-title">Similar Services Others are Offering:</span>
            <post-frames [posts]="personNeedPosts"></post-frames>

            <span *ngIf="personPosts.length != 0" class="posts-title">Similar Services Others Need:</span>
            <post-frames [posts]="personOfferPosts"></post-frames>
        </div>
        <div class="post-info-container" fxLayout="column" fxFlexOffset="10">
            <div class="post-options" fxLayout="column">
                <button mat-raised-button color="primary" (click)="onRequestClick()">edit</button>
                <button mat-raised-button color="primary" (click)="onShareClick()">duplicate</button>
                <button mat-raised-button color="primary" (click)="onReportClick()">share</button>
                <button mat-raised-button *ngIf="post?.status == 1" color="primary" (click)="onHide()">hide service</button>
                <button mat-raised-button *ngIf="post?.status == 2" color="primary" (click)="onShow()">show service</button>
                <button mat-raised-button color="warn" (click)="onDelete()">delete service</button>
            </div>
            <div class="user-info" fxLayout="column">
                <div fxLayout="row">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <span>Posted by:</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <img [routerLink]="['/profile']" class="avatar" src="assets/img/temp-users-img/6.jpg">
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <span>{{person?.displayName}}</span>
                        <span>{{personLocation?.city}}, {{personLocation?.country}}</span>
                    </div>
                </div>
                <div>
                    Posted on: {{post?.createdDate | date}}
                </div>
            </div>
            <div class="bussines-styles">
                Bussines styles of interest:
                <div class="bussines-styles-info" fxLayout="row">
                    <div class="post-info-left" fxLayout="column">
                        <div class="options">
                            <mat-icon>compare_arrows</mat-icon>
                            <mat-icon>group</mat-icon>
                            <mat-icon>favorite</mat-icon>
                            <mat-icon>school</mat-icon>
                            <mat-icon>local_offer</mat-icon>
                        </div>
                    </div>
                    <div class="post-info-right" fxLayout="column" fxLayoutAlign="center end">
                        <span class="text">comm</span>
                        <span class="number">100</span>
                        <span class="text">fixed rate</span>
                        <span class="number">$50000</span>
                        <span class="text">hourly rate</span>
                        <span class="number">$100</span>
                    </div>
                </div>
            </div>
            <div *ngIf="post?.allianceMembers && post.allianceMembers.length > 0" class="alliance-members-list">
                Alliance Members: ({{post?.allianceMembers ? post.allianceMembers.length : 0}})
                <div fxLayout="column">
                    <mat-list>
                        <mat-list-item *ngFor="let member of post?.allianceMembers" fxLayout="row">
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <img [routerLink]="['/profile']" class="avatar" src="assets/img/temp-users-img/6.jpg">
                            </div>
                            <div fxLayout="column" fxLayoutAlign="center start">
                                <span>{{member.displayName}}</span>
                                <span>{{member.jobtitle}}</span>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>

            <!--<div class="recomended-list">
              Service Recomended by: ({{post?.allianceMembers ? post.allianceMembers.length : 0}})
              <div fxLayout="column">
                <mat-list>
                  <mat-list-item *ngFor="let member of post?.allianceMembers" fxLayout="row">
                    <div fxLayout="column" fxLayoutAlign="center center">
                      <img [routerLink]="['/profile']" class="avatar" src="assets/img/temp-users-img/6.jpg">
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center start">
                      <span>{{member.displayName}}</span>
                      <span>{{member.jobtitle}}</span>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>-->
        </div>
    </div>
</div>
