<form #postAllianceForm="ngForm">
  <mat-list>
    <mat-list-item>
      <mat-slide-toggle [(ngModel)]="model.alliance.isOpen" name="isOpen" color="warn">
        I am open to join requests for this service
      </mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
      <mat-slide-toggle [(ngModel)]="model.alliance.isBlackBox" name="isBlackBox" color="warn">
        Make members visible to the public
      </mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
      <mat-slide-toggle [(ngModel)]="model.alliance.isMemberTotalVisible" name="isMemberTotalVisible" color="warn">
        Make number of members visible to the public
      </mat-slide-toggle>
    </mat-list-item>
  </mat-list>
</form>

<form>
  <mat-form-field>
    <!--[formControl]="formControl" [matAutocomplete]="auto"-->
    <input matInput [formControl]="formControl" [matAutocomplete]="auto" name="ivite" placeholder="Invite people to your alliance">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let user of filteredPeople | async" [value]="user.id">
      <img src="{{ user.profilePic }}" /> {{ user.displayName }}
    </mat-option>
  </mat-autocomplete>
</form>
<div>
  <h5>List of Members</h5>
  {{model.alliance|json}}
  <mat-list>
    <mat-list-item *ngFor="let member of model.alliance.members">
      <img src="assets/img/temp-users-img/6.jpg }}" />
      <span> Name:{{ member.displayName }} </span>
      <span> Membership Status: {{ member.membershipStatus }} </span>
    </mat-list-item>
  </mat-list>
</div>

<div class="options" fxLayout="row-reverse">
  <button mat-raised-button color="primary" [disabled]="!postAllianceForm.valid" (click)="onSaveClick()">Update</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>