<div class="card-container">
  <mat-card [routerLink]="['/profile', connection.id]">
    <img mat-card-image class="card-image" src="assets/img/avatar.png"/>
    <mat-card-content>
      <div class="center">
        <h4 class="name">{{ connection.displayName }}</h4>
        <p class="title">{{ connection.jobtitle }}</p>
        <p class="company">{{ connection.company }}</p>
        <p class="located">City,Province</p>
      </div>
      <div class="services">
        <div class="offerings">
          Offerings
          <div class="value">{{ connection.offers }}</div>
        </div>
        <div class="needs">
          Needs
          <div class="value">{{ connection.needs }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="btn-container">

    <div fxLayout="row" class="margin-top-10">
      <div class="center" fxLayout="column" fxLayoutAlign="center">
        <!--<mat-expansion-panel *ngIf="btnConnectValue !== 'connect' && btnConnectValue !== 'connected'">
          <mat-expansion-panel-header>
            {{ btnConnectValue }}
          </mat-expansion-panel-header>
          <div class="retract" *ngIf="btnConnectValue == 'connection sent'" (click)="accept()">retract</div>
          <div class="retract" *ngIf="btnConnectValue != 'connection sent'" (click)="accept()">accept</div>
          <div class="retract" *ngIf="btnConnectValue != 'connection sent'" (click)="decline()">decline</div>
        </mat-expansion-panel>-->
        <button mat-raised-button color="accent" *ngIf="btnConnectValue === 'connect'" (click)="setConnection()">connect</button>

        <div class="container-btn-connection-option" *ngIf="btnConnectValue !== 'connect' && btnConnectValue !== 'connected'">
          <button mat-raised-button color="accent" [matMenuTriggerFor]="appConnectionOption">
            {{ btnConnectValue }}
            | V
          </button>
          <mat-menu #appConnectionOption="matMenu" [overlapTrigger]="false">
            <a mat-menu-item  *ngIf="btnConnectValue == 'request send'" (click)="accept()">
              retract
            </a>
            <a mat-menu-item *ngIf="btnConnectValue == 'request received'" (click)="accept()">
              accept
            </a>
            <a mat-menu-item  *ngIf="btnConnectValue == 'request received'" (click)="decline()">
              decline
            </a>
          </mat-menu>
        </div>

      </div>
    </div>

  </div>
</div>
