<div class="post-edit-container">
  <div fxLayout="row" fxLayoutAlign="center"><strong>Update your Service and Alliance {{model.type}}</strong></div>
  <mat-tab-group dynamicHeight="true" [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        Basic
      </ng-template>
      <post-basic [model]="model" [action]="action" (onSave)="onSaveClick()" (onCancel)="onCancel()"></post-basic>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Business Style
      </ng-template>
      <post-style [model]="model" [action]="action" (onNext)="onNext($event)" (onSave)="onSaveClick()" (onCancel)="onCancel()"></post-style>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Photo/Video
      </ng-template>
      <post-media [model]="model" [action]="action" (onSave)="onSaveClick()" (onCancel)="onCancel()"></post-media>
    </mat-tab>
    <mat-tab *ngIf="canEditAlliance">
      <ng-template mat-tab-label>
        Alliance
      </ng-template>
      <post-alliance [model]="model" (onSave)="onSaveClick()" (onCancel)="onCancel()"></post-alliance>
    </mat-tab>
  </mat-tab-group>
</div>

<!--div class="post-edit-main">

  <h4><strong>Update your Service and Alliance {{model.type}}</strong></h4>-->
<!--<h4><strong>Update your Service and Alliance {{model.type}}</strong></h4>-->
<!--<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Basic
    </ng-template>
                      <post-basic [model]="model"></post-basic>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Business Style
    </ng-template>-->
<!--<app-post-edit-style [model]="model"></app-post-edit-style>-->
<!--</mat-tab>
<mat-tab>
  <ng-template mat-tab-label>
    Photo/Video
  </ng-template>-->
<!--<app-post-edit-media [model]="model"></app-post-edit-media>-->
<!--</mat-tab>
<mat-tab>
  <ng-template mat-tab-label>
    Alliance
  </ng-template>-->
<!--<app-post-edit-alliance [model]="model"></app-post-edit-alliance>-->
<!--</mat-tab>
  </mat-tab-group>
  <button mat-raised-button
          color="accent"
          (click)="onCloseClick()">close</button>
  <button *ngIf="model.id"
          mat-raised-button
          color="primary"
          (click)="onSaveClick()">update</button>
  <button *ngIf="!model.id"
          mat-raised-button
          color="primary"

          (click)="onSaveClick()">save</button>
</div>-->
