<!--<mat-grid-list cols="1" rowHeight="250px">-->
  <!--<mat-grid-tile colspan="1">-->
    <!--<mat-list>-->
      <!--<mat-list-item>-->
        <!--posted by:-->
      <!--</mat-list-item>-->
      <!--<mat-list-item>-->
        <!--<small mat-line>-->
          <!--&lt;!&ndash;<img *ngIf="person.profileImage"  src="https://res.cloudinary.com/al3kosvh/image/upload/t_round/{{person.profileImage}}"/>&ndash;&gt;-->
          <!--&lt;!&ndash;<img src="https://res.cloudinary.com/al3kosvh/image/upload/t_round/publicimages/zcccxyporoknp3vsebhl.jpg"/>&ndash;&gt;-->
          <!--<img src="https://res.cloudinary.com/al3kosvh/image/upload/t_thumbnail/v1468698749/publicimages/zcccxyporoknp3vsebhl.jpg"/>-->
          <!--&lt;!&ndash;{{person?.profileImage}}&ndash;&gt;-->
          <!--{{person?.displayName}}-->
        <!--</small>-->
        <!--&lt;!&ndash;<small mat-line>&ndash;&gt;-->
          <!--&lt;!&ndash;{{person?.username}}&ndash;&gt;-->
        <!--&lt;!&ndash;</small>&ndash;&gt;-->
        <!--<small mat-line>-->
          <!--{{person?.city}}, {{person?.province}}-->
        <!--</small>-->
      <!--</mat-list-item>-->
      <!--<mat-list-item>-->
        <!--posted on: {{post?.createdDate}}-->
      <!--</mat-list-item>-->
      <!--<mat-list-item>-->
        <!--post info-->
      <!--</mat-list-item>-->
      <!--<mat-list-item>-->
        <!--<small mat-line>-->
          <!--Comm: ${{post?.commissionFrom}} to {{post?.commissionTo}}-->
        <!--</small>-->
        <!--<small mat-line>-->
          <!--Fixed rate: ${{post?.fixedRateFrom}} to {{post?.fixedRateTo}}-->
        <!--</small>-->
        <!--<small mat-line>-->
          <!--Hourly rate: ${{post?.hourlyRateFrom}} to {{post?.hourlyRateTo}}-->
        <!--</small>-->
      <!--</mat-list-item>-->
    <!--</mat-list>-->
  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->

<mat-grid-list cols="1" rowHeight="35px">
  <mat-grid-tile>
    posted by:
    <img src="https://res.cloudinary.com/al3kosvh/image/upload/t_thumbnail/v1468698749/publicimages/zcccxyporoknp3vsebhl.jpg"/>
    {{person?.displayName}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{person?.city}}, {{person?.province}}
  </mat-grid-tile>
  <mat-grid-tile>
    posted on: {{post?.createdDate | date:'longDate'}}
  </mat-grid-tile>
  <mat-grid-tile>
    post info:
  </mat-grid-tile>
  <mat-grid-tile>
    Comm: ${{post?.commissionFrom}} to {{post?.commissionTo}}
  </mat-grid-tile>
  <mat-grid-tile>
    Fixed rate: ${{post?.fixedRateFrom}} to {{post?.fixedRateTo}}
  </mat-grid-tile>
  <mat-grid-tile>
    Hourly rate: ${{post?.hourlyRateFrom}} to {{post?.hourlyRateTo}}
  </mat-grid-tile>
</mat-grid-list>