#banner {
  /*background: url('app/img/home_page/landing.jpg') no-repeat center center;*/
  background: url('./landing.jpg') no-repeat center center;
  background-size: cover;
  height: 550px;
}

div.logo-container {
  margin: 20px;
  margin-left: 40px;
}

img.logo {
  width: 160px;
  height: 50px;
}

div.announce-beta {
  font-size: 12px;
  margin-left: 10px;
  margin-top: -5px;
  color: darkgray;
  font-weight: 600;
}

/*div.search-container input {
  min-width: 400px;
}*/

md-form-field md-icon {
  position: relative;
  top: 7px;
}

div.options {
  margin: 25px;
}

div.info div.video {
  margin-right: 40px;
  background-color: grey;
}

div.info span {
  font-weight: 600;
}

div.search-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: -4px 5px 5px -3px rgba(0,0,0,0.60);
  -moz-box-shadow: -4px 5px 5px -3px rgba(0,0,0,0.60);
  box-shadow: -4px 5px 5px -3px rgba(0,0,0,0.60);
}

  div.search-container md-form-field {
    margin-top: -10px;
    margin-bottom: -17px;
  }

  div.search-container /deep/ div.mat-input-underline.mat-form-field-underline {
    display: none;
  }

div.landing-video {
  background-color: rgba(0,0,0,0.05);
  padding: 10px;
}

div.landing-things {
  margin-bottom: 40px;
}

div.landing-things p {
  text-align: center;
}

md-card img {
}

margin
