<div>
  <div id='banner'>
    <div *ngIf="!(isLoggedIn | async)" fxLayout="column" fxLayoutAlign="space-between" fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="logo-container">
          <img class='logo' src="assets/img/home_page/GO_logo.png">
          <div class="announce-beta">Currently in private Beta</div>
        </div>
        <div class="options">
          <div>
            <button md-raised-button color="accent" routerLink="/join-us">JOIN US</button>
            <button md-raised-button color="accent" (click)="loginClick($event)">LOGIN</button>
          </div>
          <!--<div *ngIf="!(isLoggedIn | async)">
            
            <a md-raised-button color="accent" [routerLink]="['/', {outlets: {'slideRight': ['join-us']}}]">JOIN US</a>            
          </div>-->
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">        
          <md-form-field floatPlaceholder="never" fxFlex="35" fxFlex.xs="60">
            <md-icon mdPrefix>search</md-icon>
            <input mdInput placeholder="star your search here">
          </md-form-field>        
      </div>
    </div>    
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <h2 class="heading">Do These Cool Things With GrapOp</h2>
  </div>  
  <md-grid-list cols="4">
    <md-grid-tile *ngFor="let item of summaryData">
      <img src='{{item.Image}}' />
    </md-grid-tile>
    <md-grid-tile cols="4" *ngFor="let item of summaryData">      
        {{item.Text}}      
    </md-grid-tile>
  </md-grid-list>

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div class="info" fxLayout="row">
      <div class="video">
        <video></video>
      </div>
      <div fxLayout="column">
        <span>Our Alliance System Helps You...</span>
        <ul>
          <li>Attract and accept other projects</li>
          <li>Assign work to alliance members</li>
          <li>Build network of sub-contractors</li>
          <li>Build your brand</li>
          <li>Expand your business</li>
        </ul>
        <div fxLayout="row" fxLayoutAlign="end">
          <button md-raised-button color="accent">Learn more</button>
        </div>
      </div>
    </div>
  </div>

  <md-grid-list cols="2" rowHeight="9:10">

    <h2 class="heading">Featured Services</h2>

    <div *ngFor="let item of postNeed; let i=index">
      <md-grid-tile *ngIf="i<4">
        <post-card [post]="item"></post-card>
      </md-grid-tile>
    </div>
  </md-grid-list>
</div>
