<div class="search-container" fxFlex>
  <form floatPlaceholder="never" fxFlex="100" (ngSubmit)="onSubmit()">
    <md-form-field floatPlaceholder="never" fxFlex="100">
      <md-icon mdPrefix>search</md-icon>
      <input mdInput placeholder="{{placeholder}}" aria-label="Search" [mdAutocomplete]="auto" [formControl]="searchCtrl">
      <md-autocomplete #auto="mdAutocomplete" (optionSelected)="onSubmit()">
        <md-option *ngFor="let post of filteredPosts | async" [value]="post.city">
          <span>{{ post.city + ' | ' + post.province + ' | ' + post.country}}</span>
        </md-option>
      </md-autocomplete>
    </md-form-field>
  </form>
</div>
