<div class="search-container" fxFlex>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field floatPlaceholder="never" fxFlex>
      <mat-icon *ngIf="icon == 'prefix'" matPrefix>search</mat-icon>
      <input matInput placeholder="{{placeholder}}" aria-label="Search" [matAutocomplete]="auto" [formControl]="searchCtrl">
      <mat-icon *ngIf="icon == 'suffix'" matSuffix>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSubmit()">
        <mat-option *ngFor="let post of filteredPosts | async" [value]="post.city">
          <span>{{ post.city + ' | ' + post.province + ' | ' + post.country}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
