div.search-container {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 2px;
}

  div.search-container md-form-field {
    margin-top: -14px;
    margin-bottom: -21px;
    font-size: 16px;
  }

  div.search-container /deep/ div.mat-input-underline.mat-form-field-underline {
    display: none;
  }

md-form-field md-icon {
  position: relative;
  top: 7px;
}
