<ng-template>
  <mat-dialog-content>
    <div *ngIf="verified" fxLayout="row" fxLayoutAlign="center">
      <p>Congratz! You have confirmed your account</p>
      <p>Now go Grab Opportunities</p>
      <p>Good luck from your GrabOp team!</p>
    </div>
    <div *ngIf="!verified" fxLayout="row" fxLayoutAlign="center">
      {{message}}
    </div>
  </mat-dialog-content>

  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="closeDialog()">OK</button>
  </div>
</ng-template>