<ng-template>
  <div mat-dialog-content>
    <div *ngIf="verified" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" >
      <div>Congratz! You have confirmed your account</div>
      <div>Now go <strong class="blue">Grab</strong> <strong class="orange">Opportunities</strong></div>
      <div class="cursive">Good luck from your GrabOp team!</div>
    </div>

    <div *ngIf="!verified" fxLayout="row" fxLayoutAlign="center">
      {{message}}
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="center">
    <button mat-raised-button color="primary">OK</button>
  </div>
</ng-template>