    <h6 class="text-sm-right">Offering:Service Title</h6>
    <form #f="ngForm">
        <md-list>
            <md-list-item>
                <md-slide-toggle [(ngModel)]="model.isOpenToAllianace"
                                 name="openToAllianace"
                                 color="warn">
                    I am open to alliance join requests for this service
                </md-slide-toggle>
            </md-list-item>
            <md-list-item>
                <md-slide-toggle [(ngModel)]="model.isVisibleToPublic"
                                 name="visibleToPublic"
                                 color="warn">
                    Make your alliance members visible to the public
                </md-slide-toggle>
            </md-list-item>
        </md-list>
        <!--<div class="form-group has-danger m-b-0">-->
            <!--<label class="custom-control custom-checkbox">-->
                <!--<input type="checkbox" class="custom-control-input" [(ngModel)]="model.openToAllianace" name="openToAllianace">-->
                <!--<span class="custom-control-indicator"></span>-->
                <!--<span class="custom-control-description">Open to join</span>-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="form-group has-danger m-b-0">-->
            <!--<label class="custom-control custom-checkbox">-->
                <!--<input type="checkbox" class="custom-control-input" [(ngModel)]="model.visibleToPublic" name="visibleToPublic">-->
                <!--<span class="custom-control-indicator"></span>-->
                <!--<span class="custom-control-description">Visible to public</span>-->
            <!--</label>-->
        <!--</div>-->
    </form>

    <md-input-container>
        <input mdInput
               [(ngModel)]="model.title"
               name="ivite"
               class="form-control"
               color="form"
               placeholder="Invite people to your alliance"
               value="Enter a name"
        >
    </md-input-container>

    <div>
       <!-- <app-members-list></app-members-list>-->
      <button md-raised-button color="primary">Remove</button>
      <button md-raised-button color="accent">Message</button>
    </div>


    <div class="debug">{{ model | json }}</div>

