<div id="OpprtunityOverview">
  <mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile>
      <mat-tab-group>
        <mat-tab label="Pending">
          <h3>Opportunities Pending</h3>
          <div *ngFor="let item of opportunitiesPending">
            <app-opportunity-card [opportunity]="item"></app-opportunity-card>
          </div>
        </mat-tab>
        <mat-tab label="Active">
          <h3>Opportunities Active</h3>
          <div *ngFor="let item of opportunitiesActive">
            <app-opportunity-card [opportunity]="item"></app-opportunity-card>
          </div>
        </mat-tab>
        <mat-tab label="Complete">
          <h3>Opportunities Complete</h3>
          <div *ngFor="let item of opportunitiesComplete">
            <app-opportunity-card [opportunity]="item"></app-opportunity-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-grid-tile>
  </mat-grid-list>

  <!--<nav mat-tab-nav-bar>-->
    <!--<a mat-tab-link [routerLink]="pending" routerLinkActive #rla="routerLinkActive">Pending</a>-->
    <!--<a mat-tab-link [routerLink]="active" routerLinkActive #rla="routerLinkActive">Active</a>-->
    <!--<a mat-tab-link [routerLink]="complete" routerLinkActive #rla="routerLinkActive">Complete</a>-->
  <!--</nav>-->
  <!--<router-outlet></router-outlet>-->
</div>