<div class="post-edit">
    <h6 class="text-sm-right">Offering:Service Title</h6>

    <div>
        <h5>Photos</h5>
        <div id="uploadedImage" *ngFor="let image of attachments">
          <div (click)="onImageClick(image)" [class.selected]="image.selected">
            <img  src="https://res.cloudinary.com/al3kosvh/image/upload/t_thumbnail/{{image.prefix}}/{{image.name}}"/>
          </div>
        </div>
        <form #imageForm enctype="multipart/form-data">
          <button md-button onclick="document.getElementById('fileToUpload').click()">
            <md-icon>add_circle</md-icon>
          </button>
          <input id="fileToUpload" type="file" name="upload" (change)="upload($event)" hidden />
          <!--<input id="fileToUpload" type="file" name="upload" (change)="upload($event)" style="display: none" />-->

          <!--<button md-button (click)="imgFileInput.click()">-->
            <!--<md-icon>add_circle</md-icon>-->
          <!--</button>-->
          <!--<input hidden id="imgFileInput " type="file" name="upload" (change)="upload($event)" />-->

          <button md-button (click)="onDeleteClick()">
            <md-icon>remove_circle</md-icon>
          </button>
        </form>
        <!--<input type="file" name="upload" (change)="upload($event)" />-->
        <div>
            <!--<div *ngFor="let image of images" class="d-inline-block">-->
                <!--<div (click)="onImageClick(image)" [class.selected]="image.selected" class="d-inline-block">-->
                    <!--<img  class="img-thumbnail img-size-64" src="{{image.src}}"/>-->
                <!--</div>-->
            <!--</div>-->

            <form #imageForm enctype="multipart/form-data" class="d-inline-block">
                <label class="btn btn-default btn-file img-thumbnail img-size-64 fa fa-download bg-faded">
                    <!--<img  class="img-thumbnail img-size-64 bg-faded"/>-->
                    <input style="display: none;" name='file' ngModel type='file' (change)="onImageUploadChange($event)"/>
                </label>
                <!--<input type="file" name="file" (change)="onImageUploadChange($event)" />-->
            </form>
            <a class="btn fa fa-times-circle" (click)="onDeleteClick()"></a>
        </div>

    </div>
    <div>
        <h5>Videos</h5>
        <div>
            <form #imageForm enctype="multipart/form-data">
                <label class="btn btn-default btn-file fa fa-download">
                    <input style="display: none;" name='file' ngModel type='file' (change)="onImageUploadChange($event)"/>
                </label>
                <!--<input type="file" name="file" (change)="onImageUploadChange($event)" />-->
                <a class="btn fa fa-times-circle" (click)="onDeleteClick()"></a>
            </form>
        </div>
    </div>
    <div>
        <h5>Documents</h5>
        <div>
            <form #imageForm enctype="multipart/form-data">
                <label class="btn btn-default btn-file fa fa-download">
                    <input style="display: none;" name='file' ngModel type='file' (change)="onImageUploadChange($event)"/>
                </label>
                <!--<input type="file" name="file" (change)="onImageUploadChange($event)" />-->
                <a class="btn fa fa-times-circle" (click)="onDeleteClick()"></a>
            </form>
        </div>

    </div>
    <div class="debug">{{ model | json }}</div>

</div>