span.title {
  margin-top: 20px;
  font-weight: 600;
  color: gray;
}

div.start {
  position: relative;
}

div.star img {
  margin: 5px;
  width: 100px;
  z-index: 60;
}

div.star div.percent {
  position: relative;
  font-size: 12px;
  margin-top: -55px;
  z-index: 60;
  font-weight: 700;
}

div.background-container {
  z-index: 20;
  margin-top: -53px;
  position: relative;
  width: 90px;
  height: 86px;
  margin-bottom: 25px;
}

div.background {
  z-index: 20;
  background-color: #ffb426;
  width: 90px;
}

a {
  color: #03a9f4;
  text-decoration: none;
}
