span.title {
  margin-top: 20px;
  font-weight: 600;
  color: gray;
}

div.start {
  position: relative;  
}

div.star div.percent {
    position: relative;
    font-size: 12px;
    margin-top: -55px;
    z-index: 60;
    font-weight: 700;
    margin-bottom: 40px;
}

div.percent {
  height: 14px;
}

a {
  color: #03a9f4;
  text-decoration: none;
}
