<div fxLayout="column">
  <div fxLayout="row-reverse">
    <button class="close" mat-icon-button (click)="closeDialog()"><mat-icon>close</mat-icon></button>
  </div>
  <h3>We are here to help you</h3>

  <div *ngIf="message">{{ message }}</div>

  <form *ngIf="!emailSent" #fE="ngForm" autocomplete="off" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Email or Phone Number" [(ngModel)]="emailOrPhone" name="emailOrPhone" required />
    </mat-form-field>
    <div fxLayout="column" fxLayoutGap="10px">
      <div class='row'>
        <button mat-raised-button color="accent" [class.disabled]="!fE.valid" (click)="request()">
          Next
        </button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </div>
    </div>
  </form>

  <form *ngIf="emailSent" #fP="ngForm" autocomplete="off" [formGroup]="formGroup" fxLayout="column">
    <div *ngIf="!codeValid">
      <mat-form-field>
        <input matInput placeholder="Enter the code" [(ngModel)]="code" name="code" formControlName="code" />
      </mat-form-field>
      <button mat-raised-button color="accent" [disabled]="formGroup.get('code').invalid" (click)="checkCode()">
          Next
      </button>
    </div>
    <div *ngIf="codeValid">
      <mat-form-field>
        <input matInput placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" formControlName="password" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword" />
      </mat-form-field>
      <div *ngIf="formGroup.get('confirmPassword').errors?.matchPassword">
        {{ messages.passwordMismatchMessage }}
      </div>

      <div fxLayout="column" fxLayoutGap="10px">
        <div class='row'>
          <button mat-raised-button color="accent" [disabled]="!fP.valid" (click)="reset()">
            Submit
          </button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
        </div>
      </div>
    </div>
  </form>
</div>