<mat-tab-group dynamicHeight="true">
  <mat-tab [label]="'My Offerings (' + postsOffer.length + ')'">
    <div class="posts" fxLayout="row" fxLayoutAlign="start" fxLayoutWrap>
      <div *ngFor="let post of postsOffer">
        <post-card [post]="post" [editButton]="false" [viewMyDetailsButton]="true"></post-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab [label]="'My Needs (' + postsNeed.length + ')'">
    <div class="posts" fxLayout="row" fxLayoutAlign="start" fxLayoutWrap>
      <div *ngFor="let post of postsNeed">
        <post-card [post]="post" [editButton]="false" [viewMyDetailsButton]="true"></post-card>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>
