<md-tab-group dynamicHeight="true">
  <md-tab [label]="'My Offerings (' + postsOffer.length + ')'">
    <div class="posts" fxLayout="row" fxLayoutAlign="start" fxLayoutWrap>
      <div *ngFor="let post of postsOffer">
        <post-card (click)="onClickPost(post)" [post]="post" [editButton]="false" [viewMyDetailsButton]="true"></post-card>
      </div>
    </div>
  </md-tab>

  <md-tab [label]="'My Needs (' + postsNeed.length + ')'">
    <div class="posts" fxLayout="row" fxLayoutAlign="start" fxLayoutWrap>
      <div *ngFor="let post of postsNeed">
        <post-card (click)="onClickPost(post)" [post]="post" [editButton]="false" [viewMyDetailsButton]="true"></post-card>
      </div>
    </div>
  </md-tab>

</md-tab-group>
