<div class="post-create-container">
  <div><strong>Create your Service {{type}}</strong></div>
  <md-tab-group dynamicHeight="true">
    <md-tab>
      <ng-template md-tab-label>
        Basic
      </ng-template>
      <post-basic [model]="model"></post-basic>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        Business Style
      </ng-template>
      <post-style [model]="model"></post-style>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        Photo/Video
      </ng-template>
      <post-media [model]="model"></post-media>
    </md-tab>
  </md-tab-group>
  <div fxLayout="row-reverse">
    <button md-raised-button color="primary" (click)="onSaveClick()">Next</button>
  </div>
</div>
