<!--<div>-->
    <md-list>
        <h5 class="text-sm-right">Offering: Service Title</h5>
        <form #f="ngForm"  autocomplete="off" novalidate>
            <md-list-item>
                <md-input-container>
                    <input mdInput
                           [(ngModel)]="model.title"
                           name="title"
                           class="form-control"
                           color="form"
                           placeholder="Service Title"
                           required>
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <input mdInput
                           [(ngModel)]="model.country"
                           name="country"
                           class="form-control"
                           color="form"
                           placeholder="Country"
                           required>
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <input mdInput
                           [(ngModel)]="model.province"
                           name="province"
                           class="form-control"
                           color="form"
                           placeholder="Province"
                           required>
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <input mdInput
                           [(ngModel)]="model.city"
                           name="city"
                           class="form-control"
                           color="form"
                           placeholder="City"
                           required>
                </md-input-container>
            </md-list-item>
            <!--<md-list-item>-->
                <!--<md-input-container>-->
                    <!--<md-select [(ngModel)]="model.categoryid"-->
                               <!--name="categoryid"-->
                               <!--placeholder="Category">-->
                        <!--<md-option *ngFor="let category of categories" [ngValue]="category.id">-->
                            <!--{{category.label}}-->
                        <!--</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->
            <!--</md-list-item>-->
            <md-list-item>
                <md-input-container>
                    <textarea mdInput
                              [(ngModel)]="model.keywords"
                              name="keywords"
                              placeholder="Keywords"></textarea>
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <textarea mdInput
                              [(ngModel)]="model.description"
                              name="description"
                              placeholder="Description"></textarea>
                </md-input-container>
            </md-list-item>
            <md-list>
                <div class="debug">{{ model | json }}</div>
                <div class="debug">{{ f.valid | json }}</div>
            </md-list>
        </form>
    </md-list>
    <!--<h6 class="text-sm-right">Offering: Service Title</h6>-->
    <!--<form #f="ngForm" class="form-horizontal">-->
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-3 control-label">Service Title</label>-->
            <!--<input class="col-sm-5" [(ngModel)]="model.title" name="name">-->
        <!--</div>-->

        <!--<div class="form-group row">-->
            <!--<label class="col-sm-3 control-label">Country</label>-->
            <!--<input class="col-sm-5" [(ngModel)]="model.country" name="country" >-->
        <!--</div>-->

        <!--<div class="form-group row">-->
            <!--<label class="col-sm-3 control-label">Province</label>-->
            <!--<input class="col-sm-5" [(ngModel)]="model.province" name="province">-->
        <!--</div>-->

        <!--<div class="form-group row">-->
            <!--<label class="col-sm-3 control-label">City</label>-->
            <!--<input class="col-sm-5" [(ngModel)]="model.city"  name="city">-->

        <!--</div>-->
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-3">Category</label>-->
            <!--<select class="col-sm-5" [(ngModel)]="model.categoryid" name="categoryid">-->
                <!--<option *ngFor="let category of categories" [ngValue]="category.id">{{category.label}}</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-3 control-label">Keywords</label>-->
            <!--<textarea class="col-sm-5" [(ngModel)]="model.keywords" name="keywords" ></textarea>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-3 control-label">Description</label>-->
            <!--<textarea  class="col-sm-5"[(ngModel)]="model.description" name="description"> </textarea>-->
        <!--</div>-->
    <!--</form>-->
    <!--<div class="debug">{{ model | json }}</div>-->
<!--</div>-->