<div class="card-container">
  <mat-card [routerLink]="['/profile', connection.id]">
    <img mat-card-image class="card-image" src="assets/img/avatar.gif"/>
    <mat-card-content>
      <div class="center">
        <h4 class="name">{{ connection.displayName }}</h4>
        <p class="title">{{ connection.jobtitle }}</p>
        <p class="company">{{ connection.company }}</p>
        <p class="located">City,Province</p>
      </div>
      <div class="services">
        <div class="offerings">
          Offerings
          <div class="value">{{ connection.offers }}</div>
        </div>
        <div class="needs">
          Needs
          <div class="value">{{ connection.needs }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="btn-container">
    <div fxLayout="row" class="margin-top-10" *ngIf="tab=='connections'">
      <div class="btn-content" fxLayout="column">
        <button mat-raised-button (click)="disconnect()">disconnect</button>
      </div>
      <div class="btn-content" fxLayout="column" fxLayoutAlign="center end">
        <button mat-raised-button color="primary" (click)="openMessage();">message</button>
      </div>
    </div>

    <div fxLayout="row" class="margin-top-10" *ngIf="tab=='connections'">
      <div class="center" fxLayout="column" fxLayoutAlign="center">
        <mat-slide-toggle align="end" color="accent">Trusted</mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" class="margin-top-10" *ngIf="tab=='received'">
      <div class="btn-content" fxLayout="column">
        <button mat-raised-button (click)="disconnect()">decline</button>
      </div>
      <div class="btn-content" fxLayout="column" fxLayoutAlign="center end">
        <button mat-raised-button color="primary" (click)="accept()">accept</button>
      </div>
    </div>

    <div fxLayout="row" class="margin-top-10" *ngIf="tab=='sent'">
      <div class="center" fxLayout="column" fxLayoutAlign="center">
        <button mat-raised-button color="primary" (click)="disconnect()">retract</button>
      </div>
    </div>

  </div>
</div>
