<mat-card [class.hide]="post.status == 2">
    <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onViewDetails()"> View Details </button>
        <button mat-menu-item *ngIf="canEdit" (click)="onEdit()"> Edit </button>
        <button mat-menu-item *ngIf="canEditAlliance" (click)="onEditAlliance()"> Edit Alliance </button>
        <button mat-menu-item *ngIf="canDuplicate" (click)="onDuplicate()"> Duplicate </button>
        <button mat-menu-item *ngIf="canShare"> Share </button>      
        <button mat-menu-item *ngIf="post.status == 2" (click)="onShow()"> Show </button>
        <button mat-menu-item *ngIf="post.status == 1" (click)="onHide()"> Hide </button>
        <button mat-menu-item *ngIf="canDelete" (click)="onDelete()"> Delete Services </button>
    </mat-menu>
    <button mat-icon-button class="options" [matMenuTriggerFor]="appMenu"><mat-icon>more_vert</mat-icon></button>
    <img (click)="showOptions($event)" class="post-image" src="{{postImage}}" />
    <div class="account-image-container" fxLayout="row" fxLayoutAlign="end">
        <div *ngIf="post.allianceMembers.length > 0" class="count" title="Alliance Menbers">{{post.allianceMembers.length}}</div>
        <div fxFlex></div>
        <button *ngIf="canJoinAlliance" class="join-alliance" mat-raised-button color="warn">join alliance</button>
        <img class="account-image" src="{{accountImage}}" />
    </div>

    <mat-card-content (click)="showOptions($event)">
        <div class="post-info">{{post.summary | truncate: 43 }}</div>
        <div fxLayout="row">            
            <div class="post-info-left" fxLayout="column">
                <div class="city-province" fxLayout="row">{{post.city}}, {{post.province}}</div>
                <div class="post-style">
                    <mat-icon [ngClass]="{'activeStyle': post.isExchange}">compare_arrows</mat-icon>
                    <mat-icon [ngClass]="{'activeStyle': post.isPartnership}">group</mat-icon>
                    <mat-icon [ngClass]="{'activeStyle': post.isDonate}">favorite</mat-icon>
                    <mat-icon [ngClass]="{'activeStyle': post.isInternship}">school</mat-icon>
                    <mat-icon [ngClass]="{'activeStyle': post.isMoney}">local_offer</mat-icon>
                </div>
            </div>
            <div class="post-info-right" fxLayout="column" fxLayoutAlign="center end">
                <span class="text">comm</span>
                <span class="number">${{post.commissionFrom}} - ${{post.commissionTo}}</span>
                <span class="text">fixed rate</span>
                <span class="number">${{post.fixedRateFrom}} - ${{post.fixedRateTo}}</span>
                <span class="text">hourly rate</span>
                <span class="number">${{post.hourlyRateFrom}} - ${{post.hourlyRateTo}}</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
