<mat-card [class.selected]="post.isSelected">
  <img class="post-image" src="{{postImage}}" />
  <!--<mat-chip-list>
    <mat-chip color="accent" selected>{{post?.id}}</mat-chip>
    <mat-chip *ngIf="editButton"><a mat-raised-button [routerLink]="['/post-edit/'+ post.id]">Edit</a></mat-chip>
    <mat-chip *ngIf="editButton"><a mat-raised-button [routerLink]="['',{outlets: {'slideRight': ['post-edit', post.id]}}]">Edit</a></mat-chip>
    <mat-chip *ngIf="viewDetailsButton"><a mat-raised-button [routerLink]="['/posts/person-preview/'+ post.id + '/' + idPerson]">view details</a></mat-chip>
    <mat-chip *ngIf="viewMyDetailsButton"><a mat-raised-button [routerLink]="['/posts/my-preview/'+ post.id]">view details</a></mat-chip>
  </mat-chip-list>-->
  <div class="account-image-container" fxLayout="row-reverse">
    <img class="account-image" src="{{accountImage}}" />
    <button class="join-alliance" mat-raised-button color="warn">join alliance</button>
    <div fxFlex></div>    
    <div class="count">24</div>
  </div>

  <mat-card-content>
    <div class="post-info">Interior display including 3d Art direction, inferior</div>
    <div fxLayout="row">
      <div class="post-info-left" fxLayout="column">
        <div class="options">
          <mat-icon>compare_arrows</mat-icon>
          <mat-icon>group</mat-icon>
          <mat-icon>favorite</mat-icon>
          <mat-icon>school</mat-icon>
          <mat-icon>local_offer</mat-icon>
        </div>
      </div>
      <div class="post-info-right" fxLayout="column" fxLayoutAlign="center end">
        <span class="text">comm</span>
        <span class="number">100</span>
        <span class="text">fixed rate</span>
        <span class="number">$50000</span>
        <span class="text">hourly rate</span>
        <span class="number">$100</span>
      </div>
    </div>
  </mat-card-content>

  <!--<mat-grid-list cols="12" rowHeight="1:3">
          <mat-grid-tile [colspan]="12">
              <div class="deviceText-{{size}}">
                  <span>{{post?.title}}</span>
              </div>
          </mat-grid-tile>
              <mat-grid-tile class='vdivide' [colspan]="6">
                <mat-list dense>
                              <mat-list-item>
                                <small>{{post?.city}},{{post?.province}}</small>
                              </mat-list-item>
                            <mat-list-item>
                              <mat-icon *ngFor="let icon of ['swap_horizontal', 'account_box','favorite','school']">
                                {{icon}}
                              </mat-icon>
                            </mat-list-item>
                </mat-list>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="6">
                <mat-list>
                 <mat-list-item>
                   <small mat-line>
                    Comm: ${{post?.commissionFrom}} to {{post?.commissionTo}}
                   </small>
                   <small mat-line>
                    Fixed rate: ${{post?.fixedRateFrom}} to {{post?.fixedRateTo}}
                   </small>
                   <small mat-line>
                     Hourly rate: ${{post?.hourlyRateFrom}} to {{post?.hourlyRateTo}}
                   </small>
                 </mat-list-item>
                </mat-list>
              </mat-grid-tile>
  </mat-grid-list>-->
</mat-card>
