div.settings {
  margin-top: 20px;
  margin-bottom: 20px;
}

md-icon.settings {
  margin-top: 16px;
  margin-right: 5px;
}

div.first-row {
  margin-bottom: 20px;
}

md-slide-toggle {
  margin-top: 10px;
}
