<div class="settings" fxlayout="row" fxLayoutAlign="center">
  <div fxFlex="90" fxLayout="column">
    <div fxLayout="row">
      <md-icon class="settings">settings</md-icon>
      <h4>Manage account settings</h4>
    </div>
    <div fxLayoutAlign="center">
      <div fxFlex="90" fxlayoutAlign="center">
        <div class="first-row" fxLayout="row" fxLayout.xs="column">
          <div fxFlex="50">
            <h5>Manage Your Notifications</h5>
            <div fxLayout="column">
              <div fxLayout="row-reverse">Send an email notification</div>
              <div fxLayout="row">
                <div fxFlex="80">Connection request</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">New Mensajes</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Alliance notifications</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Task notification</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Service notification</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
            </div>
          </div>
          <div fxFlexOffset="10" fxFlexOffset.xs="0">
            <h5>Change Your Password</h5>
            <div fxLayout="column">
              <md-form-field>
                <input mdInput placeholder="Current" />
              </md-form-field>
              <md-form-field>
                <input mdInput placeholder="New password" />
              </md-form-field>
              <md-form-field>
                <input mdInput placeholder="Confirm new password" />
              </md-form-field>
            </div>
            <button md-raised-button color="accent">CHANGE PASSWORD</button>
          </div>
        </div>
        <md-divider color="primary"></md-divider>
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="50">
            <h5>Privacy Settings</h5>
            <div fxLayout="column">
              <div fxLayout="row-reverse">Make visible to the public</div>
              <div fxLayout="row">
                <div fxFlex="80">Phone Number</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Email Address</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Connections</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Profile Views Counts</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Individual Service Views Count</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Total Number of People Who Trust You</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Total Number of Alliance Members</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
              <div fxLayout="row">
                <div fxFlex="80">Total Sales</div>
                <div><md-slide-toggle></md-slide-toggle></div>
              </div>
            </div>
          </div>
          <div fxFlexOffset="10" fxFlexOffset.xs="0">
            <h5>Update Your Email Address or Username</h5>
            <div fxLayout="column">
              <md-form-field>
                <input mdInput placeholder="Account email" />
              </md-form-field>
              <md-form-field>
                <input mdInput placeholder="Username" />
              </md-form-field>
            </div>
            <button md-raised-button color="accent">UPDATE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
