md-sidenav {
  margin-top: 64px;
}

md-sidenav.left {
  background-color: #272727;
}

md-sidenav.left md-list a {
  color: white;
  text-decoration: none;
}

  md-sidenav md-list a.menu-active {
    color: #03a9f4;
  }

.mat-list-item {
  border-bottom: 1px outset rgba(255, 255, 255, 0.10);
}

md-sidenav-container.fixed {
  margin-top: -64px;
  padding-top: 64px;
}

div.slideRight {  
  position: fixed;
  left: auto;
  top: 100px;
  right: 0;  
  z-index: 9999;
}
