md-sidenav {
  margin-top: 64px;
}

md-sidenav {
  background-color: #272727;
}

md-sidenav md-list a {
  color: white;
  text-decoration: none;
}

md-sidenav-container.withToolbar {
  margin-top: -64px;
  padding-top: 64px;
}

div.slideRight {
  position: fixed;
  z-index: 1000;
}
