mat-sidenav.fixed {
  margin-top: 64px;
}

mat-sidenav.left {
  background-color: #272727;
}

mat-sidenav.left mat-list a {
  color: white;
  text-decoration: none;
}

  mat-sidenav mat-list a.menu-active {
    color: #03a9f4;
  }

.mat-list-item {
  border-bottom: 1px outset rgba(255, 255, 255, 0.10);
}

mat-sidenav-container.fixed {
  margin-top: -64px;
  padding-top: 64px;
}

div.slideRight {  
  position: fixed;
  left: auto;
  top: 100px;
  right: 0;  
  z-index: 9999;
}
