<h5>Update Your Email Address or Username</h5>
<div>
  <div fxLayout="column" fxFlex="40" fxFlex.sm="80" fxFlex.xs="100">
    <form #passwordForm="ngForm" fxLayout="column">
      <mat-form-field>
        <input matInput name="email" [(ngModel)]="model.email" placeholder="Email Address" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput name="username" [(ngModel)]="model.username" placeholder="Username" required />
      </mat-form-field>      
      <div fxLayout="row-reverse" [ngSwitch]="inProcess">
        <span *ngSwitchCase="true" class="spinner-send-label">Sending data...</span>
        <mat-progress-spinner *ngSwitchCase="true" class="spinner36" mode="indeterminate"></mat-progress-spinner>
        <button *ngSwitchCase="false" mat-raised-button color="accent" [disabled]="!passwordForm.form.valid" (click)="onUpdate()">UPDATE</button>
      </div>
    </form>
  </div>
</div>
