<md-grid-list cols="3">
    <md-grid-tile>
        <app-user-bio [myUser]="myUser"></app-user-bio>
    </md-grid-tile>
    <md-grid-tile>
        <app-profile-progress></app-profile-progress>
    </md-grid-tile>
    <md-grid-tile>
      <md-list>
      <h5 md-subheader><b>GrabOp thought of the day</b></h5>
        <p>
            Change your perception and you have the power to change the world!
        </p>

        <md-list-item><p class="heading"><b class='blue-text'>-1</b><small>comments</small></p></md-list-item>
        <md-list-item>
          <a md-button color="info" (click)="openComment()">comment</a>
            <button md-raised-button color="accent">share</button>
        </md-list-item>
      </md-list>
    </md-grid-tile>
</md-grid-list>

<md-grid-list cols="5" id='profile1'>
        <md-grid-tile>
            <md-list>
                <md-list-item>
                  <h5 class='grey fix-m center'>Profile Views</h5>
                </md-list-item>

            <md-list-item class='card-content center'>
                <b class='blue-text'>
                    132000
                </b>
            </md-list-item>
            </md-list>
        </md-grid-tile>
        <md-grid-tile>
          <md-list>
            <md-list-item>
              <h5 class='grey fix-m center'>Connections</h5>
            </md-list-item>

            <md-list-item class='card-content center'>
              <b class='blue-text'>
                {{profileConnectionsCount}}
              </b>
            </md-list-item>
          </md-list>
        </md-grid-tile>
        <md-grid-tile>
          <md-list>
            <md-list-item>
              <h5 class='grey fix-m center'>Trusted By</h5>
            </md-list-item>

            <md-list-item class='card-content center'>
              <b class='blue-text'>
                188
              </b>
            </md-list-item>
          </md-list>
        </md-grid-tile>
        <md-grid-tile>
          <md-list>
            <md-list-item>
              <h5 class='grey fix-m center'>Alliance Members</h5>
            </md-list-item>

            <md-list-item class='card-content center'>
              <b class='blue-text'>
                188
              </b>
            </md-list-item>
          </md-list>
        </md-grid-tile>
        <md-grid-tile>
          <md-list>
            <md-list-item>
              <h5 class='grey fix-m center'>Total Sales</h5>
            </md-list-item>

            <md-list-item class='card-content center'>
              <b class='blue-text'>
                20000
              </b>
            </md-list-item>
          </md-list>
        </md-grid-tile>

</md-grid-list>

<h3>Posts need</h3>
    <md-grid-list cols="2" rowHeight="4:5">
        <div (click)="onClickItem(item)" *ngFor="let item of myPosts | postsFilter:'need'; let i=index">
          <md-grid-tile *ngIf="i<4">
            <app-posts-card [post]="item" [editButton]="true" [viewMyDetailsButton]="true"></app-posts-card>
          </md-grid-tile>
        </div>
    </md-grid-list>

<h3>Posts offer</h3>
    <md-grid-list cols="2"  rowHeight="4:5">
      <div (click)="onClickItem(item)" *ngFor="let item of myPosts | postsFilter:'offer'; let i=index">
        <md-grid-tile *ngIf="i<4">
          <app-posts-card [post]="item" [editButton]="true" [viewMyDetailsButton]="true"></app-posts-card>
        </md-grid-tile>
      </div>
    </md-grid-list>

