<mat-toolbar *ngIf="visible | async">
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="app-logo" [routerLink]="['/home']">
    <img src="assets/img/transparent_logo.png">
  </a>
  <search placeholder="Search" icon="suffix" fxHide.xs fxFlex.gt-sm="30" fxFlex.lg="20"></search>
  <!--<mat-form-field><input matInput placeholder="search" /></mat-form-field>-->
  <span class="fill-remaining-space"></span>
  <button fxHide.xs mat-icon-button [matMenuTriggerFor]="exploreDropdown">
    <mat-icon>person_pin_circle</mat-icon>
  </button>
  <mat-menu fxHide.xs #exploreDropdown="matMenu" [overlapTrigger]="false">
    <span class='menu-section'>Business style</span>
    <div *ngFor='let option of ["Business Partnership","Exchange","Internship","Donate","Money"]'>
      <button mat-menu-item>
        {{option}}
      </button>
    </div>
    <span class='menu-section'>Category</span>
    <div *ngFor='let option of ["Entertainment","Fashion","Finance"]'>
      <button mat-menu-item>
        {{option}}
      </button>
    </div>
  </mat-menu>
  <button fxHide.xs mat-icon-button modal (click)='openHelp()'>
    <mat-icon>info</mat-icon>
  </button>
  <button fxHide.xs mat-icon-button [matMenuTriggerFor]="appPost">
    <mat-icon>add_circle</mat-icon>
  </button>
  <span fxHide.xs>Post</span>
  <mat-menu #appPost="matMenu" [overlapTrigger]="false">
    <!--<a mat-menu-item [routerLink]="['/post-edit',{type:'need'}]">Post need</a>-->
    <!--<a mat-menu-item [routerLink]="['/post-edit',{type:'offer'}]">Post offer</a>-->
    <!--<a mat-menu-item [routerLink]="['/post-edit/-1/need']">Post need</a>-->
    <!--<a mat-menu-item [routerLink]="['/post-edit/-1/offer']">Post offer</a>-->

    <a mat-menu-item (click)="onCreatePost('need')">Post need</a>
    <a mat-menu-item (click)="onCreatePost('offer')">Post offer</a>
  </mat-menu>
  <img (click)="goToProfile()" class="avatar" src="{{user.profileImage ? user.profileImage : 'assets/img/avatar.gif'}}">
  <span class="username" (click)="goToProfile()">{{user.firstName + user.lastName}}</span>
  <span class="separator"></span>
  <button mat-icon-button>
    <mat-icon>notifications_none</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item routerLink="/settings/{{user.id}}">Settings</button>
    <button mat-menu-item routerLink="/how-it-works">How it Works</button>
    <button mat-menu-item routerLink="/feedback">Feedback</button>
    <button mat-menu-item routerLink="/terms-of-use">Terms of Use</button>
    <button mat-menu-item routerLink="/signout">Sign out</button>
  </mat-menu>
</mat-toolbar>
