<div class="alliance-invite" fxLayout="column" fxLayoutAlign="center center">  
  <span>Send an alliance invite to</span>
  <div fxLayout="row">
    <img class="avatar" src="assets/img/temp-users-img/6.jpg">
    <span>{{person?.displayName}}</span>
  </div>
  <div>Select one of your services to invite {{person?.displayName}} to:</div>
  <div class="post-container">
    <md-list>
      <md-list-item fxLayout="row" *ngFor="let post of myPosts">
        <div class="post-title" fxFlex><div fxLayout="column" fxFlex fxLayoutAlign="center start">{{post?.title}}</div></div>
        <button md-raised-button color="accent">invite</button>
      </md-list-item>
    </md-list>
  </div>
</div>
