div.alliance-invite {
  padding: 15px;
}

img.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

div.post-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 10px;
  color: #03a9f4;
}

  div.post-container button {
    margin-right: 10px;
  }

  div.post-title {
    margin-right: 10px;
  }

mat-list-item {
  margin-bottom: 10px;
}
