<div fxLayout="column">
  <div class="first-row" fxLayout="row" fxLayoutAlign="space-around">
    <app-user-bio [myUser]="myUser"></app-user-bio>
    <app-profile-progress></app-profile-progress>
    <div class="announce" fxLayout="column">
      <span class="title">GrabOp thought of the day</span>
      <p>
        Change your perception and you have the power to change the world!
      </p>
      <div fxLayout="row">
        <div class="comments-info">
          <a class="comments-count" href="#"><span>0</span></a> <span class="comments">Comments</span>
        </div>
        <button md-raised-button color="accent" (click)="openComment()">comment</button>
        <button md-raised-button color="accent">share</button>
      </div>
    </div>
  </div>
  <div class="second-row" fxLayout="row" fxLayoutAlign="space-around">
    <div fxLayout="row">
      <div class="table" fxLayout="column">
        <div class="title">Profile Views</div>
        <div class="body">132,000</div>
      </div>
      <div class="table" fxLayout="column">
        <div class="title">Connections</div>
        <div class="body">10,000</div>
      </div>
      <div class="table" fxLayout="column">
        <div class="title">Trusted By</div>
        <div class="body">812</div>
      </div>
      <div class="table" fxLayout="column">
        <div class="title">Alliance Members</div>
        <div class="body">300</div>
      </div>
      <div class="table" fxLayout="column">
        <div class="title">Total Sales</div>
        <div class="body">20,000</div>
      </div>
    </div>
  </div>
</div>

<span class="posts-title">People offering what you need:</span>
<div class="posts">
  <div fxLayout="row" xLayoutAlign="space-around">
    <div *ngFor="let item of myPosts | postsFilter:'need'; let i=index">
      <post-card (click)="onClickItem(item)" [post]="item" [editButton]="true" [viewMyDetailsButton]="true"></post-card>
    </div>
  </div>
</div>

<span class="posts-title">People who need what your offering:</span>
<div class="posts">
  <div fxLayout="row" xLayoutAlign="space-around">
    <div *ngFor="let item of myPosts | postsFilter:'offer'; let i=index">
      <post-card (click)="onClickItem(item)" [post]="item" [editButton]="true" [viewMyDetailsButton]="true"></post-card>
    </div>
  </div>
</div>
