div.first-row {
  margin: 40px;
}

div.second-row {
  margin: 40px;
}

div.announce {
  width: 300px;
}

div.announce button {
  margin-right: 5px;
}

span.title {
    margin-top: 30px;
    font-weight: 600;
  }

div.comments-info {
  margin-top: 10px;
  margin-right: 20px;
}

a.comments-count {
  color: #03a9f4;
  text-decoration: none;  
}

span.comments {
  font-size: 14px;
  font-weight: 600;
}


md-card {
  padding: 0px;
  margin: 10px;
}

md-card-header {
  padding: 10px;
  background-color: lightslategrey;
  color: white;
  font-weight: 600;
}

md-card-title {
  margin-bottom: 0px;
}

md-card-content {
  text-align: center;
  padding: 20px 0px 20px 0px;
  color: lightslategrey;
  font-weight: 600;
}

span.posts-title {
  margin: 50px;
  font-size: 20px;
  font-weight: 500;
  color: grey;
}

div.posts {
  margin-top: 10px;
  margin-bottom: 10px;
}
