<div *ngIf="person" fxLayout="column">
    <div class="first-row" fxLayout="row" fxLayoutAlign="space-around" fxLayoutWrap>
        <user-bio [person]="person"></user-bio>
        <profile-progress [person]="person"></profile-progress>
        <div class="announce" fxLayout="column">
            <span class="title">GrabOp thought of the day</span>
            <p>
                Change your perception and you have the power to change the world!
            </p>
            <div fxLayout="row">
                <div class="comments-info">
                    <a class="comments-count" href="#"><span>0</span></a> <span class="comments">Comments</span>
                </div>
                <button mat-raised-button color="accent" (click)="openComment()">comment</button>
                <button mat-raised-button color="accent">share</button>
            </div>
        </div>
    </div>
    <div class="second-row" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Profile Views</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                132,000
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Connections</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                {{connectionsCount}}
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Trusted By</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                812
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Alliance Members</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                300
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total Sales</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                20,000
            </mat-card-content>
        </mat-card>
    </div>
</div>

<span *ngIf="myPostsNeed.length > 0" class="posts-title">People offering what you need:</span>
<post-frames [posts]="myPostsNeed"></post-frames>

<span *ngIf="myPostsOffer.length > 0" class="posts-title">People who need what your offering:</span>
<post-frames [posts]="myPostsOffer"></post-frames>
