<div fxLayout="column">
  <div class="first-row" fxLayout="row" fxLayoutAlign="space-around" fxLayoutWrap>
    <app-user-bio [myUser]="myUser"></app-user-bio>
    <app-profile-progress></app-profile-progress>
    <div class="announce" fxLayout="column">
      <span class="title">GrabOp thought of the day</span>
      <p>
        Change your perception and you have the power to change the world!
      </p>
      <div fxLayout="row">
        <div class="comments-info">
          <a class="comments-count" href="#"><span>0</span></a> <span class="comments">Comments</span>
        </div>
        <button md-raised-button color="accent" (click)="openComment()">comment</button>
        <button md-raised-button color="accent">share</button>
      </div>
    </div>
  </div>
  <div class="second-row" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
    <md-card>
      <md-card-header>
        <md-card-title>Profile Views</md-card-title>
      </md-card-header>
      <md-card-content fxLayout="column" fxLayoutAlign="center center">
        132,000
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-card-title>Connections</md-card-title>
      </md-card-header>
      <md-card-content fxLayout="column" fxLayoutAlign="center center">
        10,000
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-card-title>Trusted By</md-card-title>
      </md-card-header>
      <md-card-content fxLayout="column" fxLayoutAlign="center center">
        812
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-card-title>Alliance Members</md-card-title>
      </md-card-header>
      <md-card-content fxLayout="column" fxLayoutAlign="center center">
        300
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-card-title>Total Sales</md-card-title>
      </md-card-header>
      <md-card-content fxLayout="column" fxLayoutAlign="center center">
        20,000
      </md-card-content>
    </md-card>
  </div>
</div>

<span class="posts-title">People offering what you need:</span>
<div class="posts">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
    <div *ngFor="let item of myPosts | postsFilter:'need'; let i=index">
      <post-card (click)="onClickItem(item)" [post]="item" [editButton]="true" [viewMyDetailsButton]="true"></post-card>
    </div>
  </div>
</div>

<span class="posts-title">People who need what your offering:</span>
<div class="posts">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
    <div *ngFor="let item of myPosts | postsFilter:'offer'; let i=index">
      <post-card (click)="onClickItem(item)" [post]="item" [editButton]="true" [viewMyDetailsButton]="true"></post-card>
    </div>
  </div>
</div>
